<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Tasks" connectionString="server=localhost;user id=TasksUniUser;password=TasksUniPassword;persistsecurityinfo=True;database=TasksUniversity" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>